

.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}
h2{
  font-family: IRANSans;
  text-align: right;
}
mat-form-field,button,mat-option,mat-select{
  font-family: IRANSans;
}
