<!--The content below is only a placeholder and can be replaced.-->
<!-- style="text-align:center" -->
<mat-grid-list cols="1" rowHeight="20:1.5">
  <mat-grid-tile id="row1">
    <h1>مدیریت دفترچه تلفن</h1>
  </mat-grid-tile>

  <mat-grid-tile>
      <button  mat-button routerLink="users" routerLinkActive="active">کاربران</button>
      <button mat-button routerLink="contacts" routerLinkActive="active">مخاطبین</button>

      <!--<app-user></app-user>-->
      <!--<app-contact></app-contact>-->
  </mat-grid-tile>


</mat-grid-list>
<router-outlet></router-outlet>



